.RelatedQuestions {
    width: 30%;
    padding: 20px;
    height: fit-content;
    background-color: white;
    border: 1px solid lightgrey;
}

.RelatedQuestions>h3 {
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.questionDiv {
    margin-bottom: 20px;
    color: rgb(14, 116, 156);
}

.questionDiv:hover{
    background-color: rgb(241, 240, 240);
}