.Navbar {
    background-color: white;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 50px;
}

.navLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.quoraLogo {
    width: 100px;
}

.routeIcons {
    width: 30px;
    color: grey;
}

.userImage {
    width: 20px;
    border-radius: 50%;
}

#searchBox {
    border: 1px solid lightgray;
    padding: 5px;
    width: 350px;
}

#quora_plus_button {
    border: 1px solid grey;
    padding: 3px;
    border-radius: 18px;
}

#add_question_button {
    background-color: rgb(185, 43, 39);
    color: white;
    padding: 5px 10px;
    border-radius: 18px;
}