.home {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  margin-top: 10px;
}

.home > div {
  border: 2px solid red;
}


.footer {
  flex-direction: row !important;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 5px;
  font-size: 12px;
  margin-top: 30px;
}

.footer a:hover {
  border-bottom: 1px solid;
}

.Sidebar_Button:hover {
  background-color: aliceblue;
}

.Sidebar_Button a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 5px;
  font-size: 12px;
}

.Sidebar_Button img {
  border-radius: 5px;
}

.Sidebar_Button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.black {
  color: black;
  font-size: 16px;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 180px;
}